Подключение библиотек

In [1]:
import numpy as np
import pandas as pd
import sklearn.linear_model as lm
import statsmodels.api as sm
import patsy as pt
import matplotlib.pyplot as plt

# 1. Зависимость онкозаболеваний в зависимости от числа абортов и психических заболеваний

Загрузка данных

In [2]:
data = pd.read_excel('Статистика.xls', 'Лист2')[['x2','x3', 'y']]
# x - год
x = data.iloc[:,:-1]
# y - онкозаболевания
y = data.iloc[:,-1]
data.head()

       x2     x3      y
0  2652.0  136.5  422.1
1  2498.7  132.3  430.6
2  2346.1  130.1  440.7
3  2181.2  121.6  441.4
4  2138.8  121.0  447.8

Построение регрессии

In [3]:
# Создаём пустую форму регрессии
skm = lm.LinearRegression()
# Вычисляем параметры
skm.fit(x, y)
# Отображение коэфициентов
skm.intercept_, skm.coef_

(603.3398142582231, array([-0.07011504, -0.06077076]))

Получаем уравнение

In [4]:
f'y = {skm.coef_[0]}*x2 + {skm.coef_[1]}*x3 + {skm.intercept_}'

'y = -0.07011503655297809*x2 + -0.06077075782399589*x3 + 603.3398142582231'

# 2. Зависимость онкозаболеваний от числа абортов и выбросов СО_2

Загрузка данных

In [5]:
data = pd.read_excel('Статистика.xls', 'Лист2')[['x2','x4', 'y']]
# x - количество абортов
x = data.iloc[:,:-1]
# y - онкозаболевания
y = data.iloc[:,-1]
data.head()

       x2            x4      y
0  2652.0  1.704989e+06  422.1
1  2498.7  1.598095e+06  430.6
2  2346.1  1.602088e+06  440.7
3  2181.2  1.650281e+06  441.4
4  2138.8  1.678389e+06  447.8

Построение регрессии

In [6]:
# Создаём пустую форму регрессии
skm = lm.LinearRegression()
# Вычисляем параметры
skm.fit(x, y)
# Отображение коэфициентов
skm.intercept_, skm.coef_

(657.1134094967299, array([-7.47094625e-02, -3.16633850e-05]))

Получаем уравнение

In [7]:
f'y = {skm.coef_[0]}*x2 + {skm.coef_[1]}*x4 + {skm.intercept_}'

'y = -0.07470946248189343*x2 + -3.1663385000658624e-05*x4 + 657.1134094967299'

# 3. Зависимость онкозаболеваний от числа абортов и показателя употребления алкоголя

Загрузка данных

In [8]:
data = pd.read_excel('Статистика.xls', 'Лист2')[['x2','x5', 'y']]
# x - психические заболевания
x = data.iloc[:,:-1]
# y - онкозаболевания
y = data.iloc[:,-1]
data.head()

       x2     x5      y
0  2652.0   9.21  422.1
1  2498.7   9.25  430.6
2  2346.1   9.87  440.7
3  2181.2  10.70  441.4
4  2138.8  10.18  447.8

Построение регрессии

In [9]:
# Создаём пустую форму регрессии
skm = lm.LinearRegression()
# Вычисляем параметры
skm.fit(x, y)
# Отображение коэфициентов
skm.intercept_, skm.coef_

(753.4037695363788, array([ -0.07474611, -14.21228655]))

Получаем уравнение

In [10]:
f'y = {skm.coef_[0]}*x2 + {skm.coef_[1]}*x5 + {skm.intercept_}'

'y = -0.07474610571539789*x2 + -14.212286549991681*x5 + 753.4037695363788'

# 4. Зависимость онкозаболеваний от психических заболеваний и выбросов СО_2

Загрузка данных

In [11]:
data = pd.read_excel('Статистика.xls', 'Лист2')[['x3','x4', 'y']]
# x - выбросы СО_2
x = data.iloc[:,:-1]
# y - онкозаболевания
y = data.iloc[:,-1]
data.head()

      x3            x4      y
0  136.5  1.704989e+06  422.1
1  132.3  1.598095e+06  430.6
2  130.1  1.602088e+06  440.7
3  121.6  1.650281e+06  441.4
4  121.0  1.678389e+06  447.8

Построение регрессии

In [12]:
# Создаём пустую форму регрессии
skm = lm.LinearRegression()
# Вычисляем параметры
skm.fit(x, y)
# Отображение коэфициентов
skm.intercept_, skm.coef_

(-291.0960190636964, array([-0.09728592,  0.00045683]))

Получаем уравнение

In [13]:
f'y = {skm.coef_[0]}*x3 + {skm.coef_[1]}*x4 + {skm.intercept_}'

'y = -0.09728592140110134*x3 + 0.0004568337360120919*x4 + -291.0960190636964'

# 5. Зависимость онкозаболеваний от психических заболеваний и показателя употребления алкоголя

Загрузка данных

In [14]:
data = pd.read_excel('Статистика.xls', 'Лист2')[['x3', 'x5', 'y']]
# x - употребление алкоголя
x = data.iloc[:,:-1]
# y - онкозаболевания
y = data.iloc[:,-1]
data.head()

      x3     x5      y
0  136.5   9.21  422.1
1  132.3   9.25  430.6
2  130.1   9.87  440.7
3  121.6  10.70  441.4
4  121.0  10.18  447.8

Построение регрессии

In [15]:
# Создаём пустую форму регрессии
skm = lm.LinearRegression()
# Вычисляем параметры
skm.fit(x, y)
# Отображение коэфициентов
skm.intercept_, skm.coef_

(562.5351137492305, array([-0.09310037, -6.15680195]))

Получаем уравнение

In [16]:
f'y = {skm.coef_[0]}*x3 + {skm.coef_[1]}*x5 + {skm.intercept_}'

'y = -0.09310036648431701*x3 + -6.156801954526187*x5 + 562.5351137492305'

# 6. Зависимость онкозаболеваний от выбросов СО_2 и показателя употребления алкоголя

Загрузка данных

In [17]:
data = pd.read_excel('Статистика.xls', 'Лист2')[['x4', 'x5', 'y']]
# x - употребление алкоголя
x = data.iloc[:,:-1]
# y - онкозаболевания
y = data.iloc[:,-1]
data.head()

             x4     x5      y
0  1.704989e+06   9.21  422.1
1  1.598095e+06   9.25  430.6
2  1.602088e+06   9.87  440.7
3  1.650281e+06  10.70  441.4
4  1.678389e+06  10.18  447.8

Построение регрессии

In [18]:
# Создаём пустую форму регрессии
skm = lm.LinearRegression()
# Вычисляем параметры
skm.fit(x, y)
# Отображение коэфициентов
skm.intercept_, skm.coef_

(-220.06232857547968, array([ 4.90146387e-04, -1.33347009e+01]))

Получаем уравнение

In [19]:
f'y = {skm.coef_[0]}*x4 + {skm.coef_[1]}*x5 + {skm.intercept_}'

'y = 0.0004901463871704949*x4 + -13.334700867678386*x5 + -220.06232857547968'